

.login-page-wrapper .main-wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}


.login-page-wrapper .main-wrapper .login-wrapper{

    width: 30%;
    position: relative;
    /* background-image: url(../../asstes/img/pexels-photo-1029611.jpeg); */
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.login-page-wrapper .main-wrapper .login-overlay {

    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3949db+0,129af5+100&0.95+1,0.96+100 */
    background: -moz-linear-gradient(45deg, rgba(57, 73, 219, 0.95) 0%, rgba(57, 74, 219, 0.95) 1%, rgba(18, 154, 245, 0.96) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(57, 73, 219, 0.95) 0%, rgba(57, 74, 219, 0.95) 1%, rgba(18, 154, 245, 0.96) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(57, 73, 219, 0.95) 0%, rgba(57, 74, 219, 0.95) 1%, rgba(18, 154, 245, 0.96) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f23949db', endColorstr='#f5129af5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.login-page-wrapper .main-wrapper .login-form-wrapper {


    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-70%);
}
.login-page-wrapper .main-wrapper .right-img{
    width: 70%;
    height: 100%;
}
.login-page-wrapper .main-wrapper .right-img img {
   
    max-width: 100%;
    height: 100%;

}
/* input:-webkit-internal-autofill-previewed, 
input:-webkit-internal-autofill-selected, 
textarea:-webkit-internal-autofill-previewed, 
textarea:-webkit-internal-autofill-selected, 
select:-webkit-internal-autofill-previewed, 
select:-webkit-internal-autofill-selected {
    
}
input:-webkit-autofill {
    
    
} */

.login-page-wrapper .main-wrapper .right-img .login-right-back{
    height: 100%;
}
.login-page-wrapper .login-wrapper .logo {
    width: 100%;
    text-align: center;
}
.login-page-wrapper .login-wrapper .logo img {
    width: 60px;
}
.login-page-wrapper .padding-0 {
    padding:0;
    margin: 0;
}

.login-page-wrapper .logintitle {
    margin-bottom: 40px;
}
.login-page-wrapper .logintitle h3 {
    font-size: 30px;
    padding: 14px;
    color: #fff;
}

.login-page-wrapper .logintitle p {
    font-size: 24px;
    font-style: italic;
    margin-top: -14px;
    color: #fff;
}

.login-page-wrapper .logininput {
    /* display: flex; */
    padding: 0 30px;
    margin-bottom: 32px;
    justify-content: center;
    position: relative;
}

.login-page-wrapper .logininput .md-form {
    margin: 0;
    width: 100%;
}
.login-page-wrapper .logininput .md-form input[type=text], .login-page-wrapper .logininput .md-form input[type=password], .logininput .md-form input[type=email], .logininput .md-form input[type=url], .logininput .md-form input[type=time], .logininput .md-form input[type=date], .logininput .md-form input[type=datetime-local], .logininput .md-form input[type=tel], .logininput .md-form input[type=number], .logininput .md-form input[type=search-md], .logininput .md-form input[type=search], .logininput .md-form textarea.md-textarea {
    box-sizing: border-box;
}
.login-page-wrapper .logininput .md-form .validate {
    margin: 0;
}
.login-page-wrapper .logininput .md-form input {
    border-bottom: 1px solid rgba(255,255,255,.7);
}

.login-page-wrapper .logininput .md-form .form-control {

    box-sizing: border-box;
    padding: 8px 15px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.8);
    padding: 15px;
    outline: none;
    font-size: 14px;
}
.login-page-wrapper .logininput .md-form .form-control:focus {

    color: #fff;
}
.login-page-wrapper .logininput .icon {
    position: absolute;
    right: 30px;
    bottom: 5px;
    color: #fff;
    
}
.login-page-wrapper .logininput .icon i{
    font-size: 18px;
    padding-top: 10px;
}
.login-page-wrapper .loginSubmitButton {

    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.login-page-wrapper .loginSubmitButton button{

    padding: 8px 0;
    width: 70%;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    /* margin-left: -50px; */
    border-color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent !important;

}

.login-page-wrapper button.btn-secondary:not([disabled]):not(.disabled):active, .login-page-wrapper .btn-secondary:not([disabled]):not(.disabled).active,.login-page-wrapper  .show > .btn-secondary.dropdown-toggle {


    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent !important;
}

.login-page-wrapper .error-color {
    margin-left: 36px;
    color: #940101;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}

.login-page-wrapper .main-wrapper .right-img {}
.login-page-wrapper .main-wrapper .right-img .login-right-back{}
.login-page-wrapper .main-wrapper .right-img .login-right-back img{}


/* input {
    -webkit-autofill-selected: transparent !important;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: rgb(10, 26, 54) !important;

    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
   
} */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: red !important;
    background-image:none !important;
    color: #000000 !important;
}

.card-custom {
    width: 50%;
    margin: auto;
}
.auth-form-area {
    padding: 20px 30px;
    background: #F7F8F9;
}
.auth-form-area label{
    font-weight: 500;
}
.login-page-wrapper {
    background: #E9ECEF;
    padding: 150px 0;
    height: 100vh;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}
.auth-form-area .card-header {
    background: #fff;
}
.auth-form-area input {
    border: 2px solid #CED4DA !important;
}
.auth-form-area .btn {
    background: #FA8231 !important;
    border-color: #FA8231 !important;
}
.auth-form-area a {
    color: #FA8231;
}
@media only screen and (max-width: 990px) {
    .login-page-wrapper .main-wrapper .login-wrapper {
        width: 100%;
    }

    .login-page-wrapper .right-img {
        display: none;
    }
    .login-page-wrapper .logininput .icon {
        text-align: center;
    }
}

@media only screen and (max-width: 640px) {
    .login-page-wrapper .loginSubmitButton button {
        padding: 4px 0;
        width: 60%;
        font-size: 18px;
        
    }
    .login-page-wrapper .logintitle {
        margin-bottom: 0;
    }
    .login-page-wrapper .logintitle h3 {
        font-size: 21px;
        padding: 0px;
        color: #fff;
    }
    .login-page-wrapper .logintitle p {
        font-size: 15px;
        font-style: italic;
        margin-top: 0px;
        color: #fff;
    }
    .login-page-wrapper .logininput {
        
        padding: 0 30px;
        margin-bottom: 0px;
        justify-content: center;
        position: relative;
    }
    .login-page-wrapper .loginSubmitButton {
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }
    .login-page-wrapper .main-wrapper .login-form-wrapper {
        -webkit-transform: translateY(-70%);
        transform: translateY(-83%);
    }
    .login-page-wrapper .logininput .md-form .form-control {
        box-sizing: border-box;
        color: #fff;
        border-bottom: 1px solid rgba(255,255,255,.8);
        padding: 12px;
        outline: none;
        font-size: 12px;
    }
    .login-page-wrapper .login-wrapper .logo img {
        width: 50px;
    }
    .login-page-wrapper .logininput .icon i {
        font-size: 15px;
        padding-top: 10px;
    }

}
@media (height: 360px), (width: 640px) {
    .login-page-wrapper .main-wrapper .login-form-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        -webkit-transform: translateY(-70%);
        transform: translateY(0);
    }
}
@media only screen and (max-width: 400px) {
    .login-page-wrapper .main-wrapper .login-form-wrapper {
        
        -webkit-transform: translateY(-70%);
        transform: translateY(-50%);
    }
}

